@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.title {
    color: #2f2e2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .title {
    color: #c52222;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  body * {
    visibility: hidden !important;
  }
  .print-area, .print-area * {
    visibility: visible !important;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background: white;
    z-index: 9999;
    padding: 0;
    margin: 0;
  }

  .material-sheet-print {
    /* max-width: 800px !important; 削除 */
    /* max-height: 1100px !important; 削除 */
    /* overflow: auto !important; 削除 */
    /* transform: scale(calc(793.7px / var(--sheet-width))); */
    transform: scale(calc(1060px / var(--sheet-width)));
    transform-origin: top left;
    page-break-inside: avoid !important; /* 途中で分割されないように */
  }
}
